div{
  display: flex;
  background-color: aqua;
}

nav {
  background-color: bisque;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 200px;
  flex-shrink: 0;
  height: max-content;
}

nav > ul {
  margin: 0;
  padding: 20px 0 20px 40px;
}

main {
  background-color: darkgray;
}

main > p{
  margin: 0;
}

footer{
  position: fixed;
  height: 70px;
  width: 100%;
  background-color: limegreen;
  bottom: 0;
}