.block{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  border: 10px solid blue;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 50px;
}

.another-block{
  display: block;
  width: 500px;
  margin: auto;
}