div {
  width: 100%;
  background-color: aqua;
  display: flex;
  flex-direction: row;
  border: 1px solid green;
}

p{
  margin: 0;
}

nav {
  background-color: bisque;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 200px;
  flex-shrink: 0;
  height: max-content;
  margin-right: 5px;
}

main {
  background-color: darkgray;
  margin-right: 5px;
  min-width: 400px;
}

img{
  float: right;
  width: 50%;
}

@media screen and (max-width: 620px) {
  div{
    flex-wrap: wrap;
  }
  main{
    max-width: 380px;
  }
}

@media screen  and (min-width: 621px){
  p:last-child{
    clear: both;
  }
}
