.block{
  background-color:blue ;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  color: white;
  border: 60px solid blue;
}
.another-block{
  background-color: green;
  display: block;
  width: 500px;
  color: white;
  margin: auto;
}